
<div class="col-lg-6 col-xl-12 align-self-center" data-wow-delay=".0.5s">
    <div class="owl-carousel owl-style-2" data-items="3" data-stage-padding="0" data-loop="true" data-margin="10" data-mouse-drag="true" data-autoplay="true" id="clients">
        <img id="img1" src="images/clients/cliente-1.png" alt="" width="270" height="117"/>
        <img id="img1" src="images/clients/cliente-5.png" alt="" width="270" height="117"/>
        <img id="img1" src="images/clients/cliente-2.png" alt="" width="270" height="117"/>
        <img id="img1" src="images/clients/cliente-6.png" alt="" width="270" height="117"/>
        <img id="img1" src="images/clients/lya-logo.png" alt="" width="220" height="90"/>
        <img id="img1" src="images/clients/alc-azul-logo.png" alt="" width="220" height="90"/>
        {{!-- <img id="img1" src="images/clients/cnf-logo.png" alt="" width="220" height="90"/> --}}
        <img id="img1" src="images/clients/alc-cat-logo.png" alt="" width="220" height="90"/>
        
        {{!-- <img src="images/cliente-8.jpg" alt="" width="270" height="117"/> --}}
    </div>
</div>

