<section class="section section-sm section-fluid bg-default text-center" id="computacion">
    <div class="container-fluid">
        <h2 class="wow fadeInLeft">Infraestructura de Computacion</h2>
        <p class="quote-jean2 wow fadeInRight" data-wow-delay=".1s">Somos distribuidores de hardaware de marca asi como tambien ofrecemos soluciones Tecnologicas y soporte tecnico en cuanto a infraestructura de computacion.</p>
        <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-7" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Ver</button>
        <ul class="isotope-filters-list" id="isotope-7">
            <li><a class="active" href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">Equipos</a></li>
            <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Servidores</a></li>
            <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">Redes</a></li>
            <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">Soporte Tecnico</a></li>
            {{!-- <li><a href="#" data-isotope-filter="Type 5" data-isotope-group="gallery">Soporte Tecnico</a></li>     --}}
        </ul>
        </div>
        <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/est.png" alt="" width="420" height="350" id="eq1"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Estaciones de Trabajo</h5>
                </div>
                <p class="thumbnail-classic-text">Ofrecemos equipos Workstations de alto rendimiento de marcas reconocidas adaptadas a las necesidades especificas de nuestros clientes.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/servidor-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-cube29" href="#computacion"><img src="images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Servidores Linux</h5>
                </div>
                <p class="thumbnail-classic-text">Ofrecemos servidores impulsados por el sistema operativo de código abierto de Linux que ofrece a las empresas una opción de bajo costo para entregar contenido, aplicaciones y servicios a sus clientes.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/redes.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#computacion"><img src="images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Redes de área local</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores ofrecemos instalaciones y configuraciones en redes locales corporativas para mantener la seguridad y la operación amigable de los recursos de su empresa.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/redes-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Equipos Activos de Red</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores ofrecemos una amplia variedad de equipos para redes alambricas como inalambricas de marcas reconocidas y con los mejores precios del mercado.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/serv.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Servidores</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores te ofrecemos equipos para servidores de Alta Gamma de marcas reconocidas a los mejores precios del mercado.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 2" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/servidor-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-cube29" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Servidores Widows</h5>
                </div>
                <p class="thumbnail-classic-text">Ofrecemos instalacion de servidores impulsados por sistema Windows Server nejorando los resultador corporativos, de administracion sencilla, de modo que el sistema se pude manejar de forma rapida y eficiente. Ademas destaca por ser muy flexible.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/ups.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Equipos de Respaldo Electrico</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores ofrecemos equipos de respaldo electrico de la marca APC para brindar proteccion, seguridad y respaldo a sus equipos.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 4" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/mant.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Mantenimiento de Hardware y Software</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores contamos con un equipo técnico profesional especializado en el mantenimiento correctivo y preventivo de hardware y software.</p>
            </div>
            </article>
        </div>
         
        </div>
    </div>
</section>