<section class="section section-sm bg-default">
    <div class="container">
        <div class="row row-30 justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-phone351"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="tel:#">+58 416-6025883</a></p>
                <p class="box-contacts-link"><a href="tel:#">+58 414-7174288</a></p>
            </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-big104"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="#">Prolongación Av. 2 Lora Urbanización El Encanto Oficentro El Encanto Piso PH, Local PH5, Merida</a></p>
            </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-email64"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="mailto:sios.asesores@gmail.com">sios.asesores@gmail.com</a></p>
            </div>
            </article>
        </div>
        </div>
    </div>
</section>