<section class="section section-sm bg-default">
    <div class="container">
        <div class="row row-30 justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-phone351"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="tel:#">{{telf1}}</a></p>
                <p class="box-contacts-link"><a href="tel:#">{{telf2}}</a></p>
            </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-big104"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="#">{{direccion}}</a></p>
            </div>
            </article>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            <article class="box-contacts">
            <div class="box-contacts-body">
                <div class="box-contacts-icon fl-bigmug-line-email64"></div>
                <div class="box-contacts-decor"></div>
                <p class="box-contacts-link"><a href="mailto:sios.asesores@gmail.com">{{correo}}</a></p>
            </div>
            </article>
        </div>
        </div>
    </div>
</section>