<section class="section section-sm section-fluid bg-default text-center" id="fiscal">
    <div class="container-fluid">
        <h2 class="wow fadeInLeft">Equipos Fiscales</h2>
        <p class="quote-jean2 wow fadeInRight" data-wow-delay=".1s">Somos Distribuidores autorizados de equipos fiscales de la marca The factory HKA.</p>
        <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-3" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Ver</button>
        <ul class="isotope-filters-list" id="isotope-3">
            <li><a class="active" href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">Impresoras Fiscales</a></li>
            <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Maquinas Fiscales</a></li>
            <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">Dispositivos de Transmision</a></li>
            <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">Soporte Tecnico</a></li>
            <li><a href="#" data-isotope-filter="Type 5" data-isotope-group="gallery">Repuestos y Suministros</a></li>    
        </ul>
        </div>
        <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 4">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/rep.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#fiscal"><img src="images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Soporte Tecnico Especializado</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores contamos con un equipo técnico profesional dispuestos a apoyarte en la revisión de equipos fiscales con inmediatez y precisión.</p>
            </div>
            </article>
           
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Dascom Tally 1140</h5>
                </div>
                <p class="thumbnail-classic-text">La DASCOM Tally 1140, es una Impresora Fiscal fabricada bajo estrictos estándares de calidad, que dan a su moderno diseño, la seguridad y la robustez necesaria para cumplir con las normativas fiscales vigentes en el país.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/maquina-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Aclas CR2050</h5>
                </div>
                <p class="thumbnail-classic-text">Es una caja registradora fiscal térmica, portatil, ideal para medianas y pequeñas empresas con una arquitectura de diseño ampliamente reducida lo que la hace compacta y ligera para adaptarse a sus necesidades.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">iSmart-W</h5>
                </div>
                <p class="thumbnail-classic-text">Es un dispositivo electrónico, que se conecta a una máquina fiscal, permitiendo extraer los reportes Z contenidos en la memoria fiscal y transmitirlos a el servidor  del Sistema Centralizado de Facturación Electrónica.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">iSmart</h5>
                </div>
                <p class="thumbnail-classic-text">Es un dispositivo electrónico, que se conecta a una máquina fiscal, permitiendo extraer los reportes Z contenidos en la memoria fiscal y transmitirlos a el servidor  del Sistema Centralizado de Facturación Electrónica.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Fiscat HKA 80</h5>
                </div>
                <p class="thumbnail-classic-text">La Impresora Fiscal HKA80 se caracteriza por su alta rapidez de impresión de tickets, cuenta con un diseño robusto y seguro cumpliendo así las normativas fiscales del país. La impresora posee un cortador automático de papel, impresión de códigos de barra en 1D y 2D, comunicación vía Serial o USB tipo B para la PC, puerto para Gaveta y Display externo.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 5" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/rep-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#fiscal"><img src="images/fullwidth-gallery-7-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Repuestos y Suministros</h5>
                </div>
                <p class="thumbnail-classic-text">En Sios Asesores te ayudamos a mantener tus equipos fiscales HKA al dia, brindandote los repuestos y suministros que necesitas.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-3.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">iMobile</h5>
                </div>
                <p class="thumbnail-classic-text">Es un dispositivo electrónico, que se conecta a una máquina fiscal, permitiendo extraer los reportes Z contenidos en la memoria fiscal y transmitirlos a el servidor  del Sistema Centralizado de Facturación Electrónica.</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-3.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">Aclas PP9 Plus</h5>
                </div>
                <p class="thumbnail-classic-text">La impresora fiscal PP9-PLUS es un equipo de impresión térmica ideal para pequeños y medianos negocios debido a su competitivo precio y a su diseño compacto, que garantiza la comodidad de los usuarios y facilita las transacciones fiscales.</p>
            </div>
            </article>
        </div>
        </div>
    </div>
</section>