<footer class="section section-fluid footer-minimal context-dark">
	<div class="bg-gray-15">
		<div class="container-fluid">
		<div class="footer-minimal-inset oh">
			<ul class="footer-list-category-2">
			<li><img src="images/logo-lenovo.png" alt="" height="120px" width="120px"></li>
			<li><img src="images/logo-dell.png" alt="" height="110px" width="110px"></li>
			<li><img src="images/logo-apc.png" alt="" height="180px" width="180px"></li>
			<li><img src="images/logo-hp.png" alt="" height="120px" width="120px"></li>
			<li><img src="images/logo-kas.png" alt="" height="120px" width="120px"></li>
			<li><img src="images/logo-tplink.png" alt="" height="180px" width="180px"></li>
			</ul>
		</div>
		<div class="footer-minimal-bottom-panel text-sm-left">
			<div class="row row-10 align-items-md-center">
			<div class="col-sm-6 col-md-4 text-sm-right text-md-center">
				<div>
					<img src="images/SNC-1.png" alt="" height="180px" width="180px">
					<p>Empresa Inscrita en el Registro Nacional de Constratistas</p>
				{{!-- <ul class="list-inline list-inline-sm footer-social-list-2">
					<li><a class="icon fa fa-facebook" href="#"></a></li>
					<li><a class="icon fa fa-twitter" href="#"></a></li>
					<li><a class="icon fa fa-google-plus" href="#"></a></li>
					<li><a class="icon fa fa-instagram" href="#"></a></li>
				</ul> --}}
				</div>
			</div>
			<div class="col-sm-6 col-md-4 order-sm-first">
				<!-- Rights-->
				<p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>|  Sios Asesores C.A. Rif: J-31163408-0</span>
				</p>
			</div>
			<div class="col-sm-6 col-md-4 text-md-right"><span>All rights reserved.</span> 
			</div>
			</div>
		</div>
		</div>
	</div>
</footer>