<!-- Pricing-->
      <section class="section section-sm section-bottom-70 section-fluid bg-default">
        <div class="container">
          {{!-- <h2>Pricing</h2> --}}
          <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title"></h5>
                  <h3 class="box-pricing-price">Visión</h3>
                  <div class="box-pricing-time"></div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Sios</span>
                  </div>
                  <ul class="box-pricing-list">
                    {{!-- <li class="active">Concept development</li>
                    <li class="active">UI design</li>
                    <li>Configuration management</li>
                    <li>Software quality assurance</li>
                    <li>App integration</li> --}}
                    <p>
                      Destacarnos a nivel regional, en el desarrollo e implantación de soluciones
                      informáticas para PyMEs y gobiernos locales.
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                  </ul>
                </div>
                {{!-- <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div> --}}
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black box-pricing-popular">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title"></h5>
                  <h3 class="box-pricing-price">Misión</h3>
                  <div class="box-pricing-time"></div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Sios</span>
                  </div>
                  <ul class="box-pricing-list">
                    {{!-- <li class="active">Concept development</li>
                    <li class="active">UI design</li>
                    <li class="active">Configuration management</li>
                    <li class="active">Software quality assurance</li>
                    <li>App integration</li> --}}
                    <p>
                      Satisfacer las necesidades de nuestros clientes en el área de la tecnología
                      de la información, ofreciendo software y hardware ajustado a las
                      necesidades, con el apoyo de aliados de alto valor estratégico.
                    </p>
                    <br>
                    <br>
                    
                  </ul>
                </div>
                {{!-- <div class="box-pricing-button"><a class="button button-lg button-block button-primary" href="#">Get started</a></div> --}}
                {{!-- <div class="box-pricing-badge">popular</div> --}}
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title"></h5>
                  <h3 class="box-pricing-price">Valores</h3>
                  <div class="box-pricing-time"></div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Sios</span>
                  </div>
                  <ul class="box-pricing-list">
                    <li class="active">Integridad y Honestidad</li>
                    <li class="active">Calidad</li>
                    <li class="active">Compromiso con el cliente</li>
                    <li class="active">Responsabilidad</li>
                    <br>
                    <br>
                    <br>
                  </ul>
                </div>
                {{!-- <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div> --}}
              </div>
            </div>
          </div>
        </div>
      </section>