<section class="section section-sm section-first bg-default text-center" id="services">
<div class="container">
    <div class="row row-30 justify-content-center">
        <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp"><img src="images/servicios-sios-1.png" alt="" width="415" height="592"/>
        </div>
        <div class="col-lg-7 col-xl-6">
        <div class="row row-30">
            <div class="col-sm-6 wow fadeInRight">
            <article class="box-icon-modern box-icon-modern-custom">
                <div>
                <h3 class="box-icon-modern-big-title">Nuestros Servicios</h3>
                <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href="#fiscal">Servicios</a>
                </div>
            </article>
            </div>
            <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
            <article class="box-icon-modern box-icon-modern-2">
                <div class="box-icon-modern-icon linearicons-database"></div>
                <h5 class="box-icon-modern-title"><a href="#profit">SOLUCIONES<br>INFORMATICAS</a></h5>
                <div class="box-icon-modern-decor"></div>
                <p class="box-icon-modern-text">Implantacion, capacitacion y mantenimiento de Sistemas Profit Plus y Sigesp</p>
            </article>
            </div>
            <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
            <article class="box-icon-modern box-icon-modern-2">
                <div class="box-icon-modern-icon linearicons-printer"></div>
                <h5 class="box-icon-modern-title"><a href="#fiscal">EQUIPOS<br>FISCALES</a></h5>
                <div class="box-icon-modern-decor"></div>
                <p class="box-icon-modern-text">Somos distribuidor autorizado de equipos fiscales de la marca The factory HKA.</p>
            </article>
            </div>
            <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
            <article class="box-icon-modern box-icon-modern-2">
                <div class="box-icon-modern-icon linearicons-laptop"></div>
                <h5 class="box-icon-modern-title"><a href="#computacion">INFRAESTRUCTURA<br>DE COMPUTACION</a></h5>
                <div class="box-icon-modern-decor"></div>
                <p class="box-icon-modern-text">Mantenimiento de hardware y software, redes de area local, virtualizacion, sevidores linux y windows.</p>
            </article>
            </div>
        </div>
        </div>
    </div>
</div>
</section>