body{
    background-color: #e7e4df;
}
.container-fluid{
    text-align: center;
}
img{
    padding: auto;
    width:500px;
    height:500px;
}

h2{
    margin-top: -150px;
    padding: auto;
}  
button{
    margin-top: 20px;
    padding: auto;
}